/*Menu de Opções*/
#css_plus_pluginid .inside, #css_plus_pluginid .inside p, #css_plus_pluginid .menu {margin: 0;padding: 0;}
.CodeMirror {
	border: 1px solid #ACACAC;
    border-radius: 0;
    box-shadow: none !important;
}
.CodeMirror-dialog {
	background: #586E75;
	color: #fff;
	border-bottom: 1px solid #586E75;
}
#css_plus_pluginid .inside .more {
	padding: 5px;
}